/* Sử dụng font Inter */
body {
    font-family: "Inter", sans-serif;
    /* Các kiểu chung cho cả 2 trang */
    background-color: #121212;
    color: white;
}

/* == Kiểu cho trang Đăng nhập == */
.spotify-green {
    background-color: #1DB954;
}
.spotify-green-hover:hover {
    background-color: #1ED760;
}

/* == Kiểu cho trang Chủ == */
.sidebar {
    background-color: #000000;
}
.main-content {
    /* Hiệu ứng gradient mờ dần ở đầu trang chủ */
    background: linear-gradient(to bottom, #222222, #121212 30%);
}